<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>897974978740-h08ugk5njirb15fj9nduua7pltugnq3b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.897974978740-h08ugk5njirb15fj9nduua7pltugnq3b</string>
	<key>API_KEY</key>
	<string>AIzaSyB5XGfIgN94GH2C4v0fUBUZFLVM2cUJUAM</string>
	<key>GCM_SENDER_ID</key>
	<string>897974978740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>marton.zeisler.scapp.devslopes-social</string>
	<key>PROJECT_ID</key>
	<string>devslopes-social-6e724</string>
	<key>STORAGE_BUCKET</key>
	<string>devslopes-social-6e724.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:897974978740:ios:116cee23cebec5be</string>
	<key>DATABASE_URL</key>
	<string>https://devslopes-social-6e724.firebaseio.com</string>
</dict>
</plist>